In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
match_data=pd.read_csv(r"IPL Matches 2008-2020.csv")
match_data.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [3]:
each_ball_data=pd.read_csv(r"IPL Ball-by-Ball 2008-2020.csv")
each_ball_data.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [4]:
# extract dataframe which contain info of each batsman in single match  
single_match_data = each_ball_data[each_ball_data['id']==335986]

In [5]:
# create list of each batsman from given match  
all_batsman=list(single_match_data['batsman'].unique())
all_batsman

['WP Saha',
 'BB McCullum',
 'SC Ganguly',
 'RT Ponting',
 'DJ Hussey',
 'AS Yadav',
 'A Symonds',
 'SB Bangar',
 'WPUJC Vaas',
 'RP Singh',
 'AC Gilchrist',
 'Y Venugopal Rao',
 'VVS Laxman',
 'RG Sharma',
 'SB Styris',
 'Mohammad Hafeez',
 'LR Shukla']

In [6]:
single_match_data.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
938,335986,2,0,6,WP Saha,BB McCullum,WPUJC Vaas,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Deccan Chargers
939,335986,2,1,1,BB McCullum,WP Saha,RP Singh,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Deccan Chargers
940,335986,2,1,4,WP Saha,RT Ponting,RP Singh,2,0,2,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Deccan Chargers
941,335986,2,1,5,WP Saha,RT Ponting,RP Singh,0,4,4,0,0,NaN,NaN,NaN,legbyes,Kolkata Knight Riders,Deccan Chargers
942,335986,2,1,2,BB McCullum,WP Saha,RP Singh,0,0,0,0,1,caught,BB McCullum,RG Sharma,NaN,Kolkata Knight Riders,Deccan Chargers

In [7]:
# create dictionary with team name as keys 
run_of_each_player = dict.fromkeys(all_batsman)

for player in all_batsman:
    total_run=sum(single_match_data[single_match_data['batsman']==player]['batsman_runs'])
    
    # total run scored by each batsman
    x=single_match_data[single_match_data['batsman']==player]['dismissal_kind'].unique()
    print(f"{player}{x}")
    #remove nan from list of dissmisal type 
    my_list=list(x)
  
    new_list = []
    for item in my_list:
        if str(item) != 'nan':
            new_list.append(item)
    
    dismissal_type=new_list
    
    # check condition when dismissial is not given 
    if len(dismissal_type)==0:
        dismissal_type=["not out"]
    temp_list=[total_run,dismissal_type]
    run_of_each_player[player]=temp_list

WP Saha[nan 'caught']
BB McCullum[nan 'caught']
SC Ganguly[nan 'bowled']
RT Ponting['lbw']
DJ Hussey[nan]
AS Yadav[nan 'caught']
A Symonds[nan 'caught']
SB Bangar[nan 'caught']
WPUJC Vaas['caught']
RP Singh[nan 'run out']
AC Gilchrist[nan 'caught']
Y Venugopal Rao[nan 'caught']
VVS Laxman[nan 'caught']
RG Sharma[nan 'caught']
SB Styris[nan 'bowled']
Mohammad Hafeez[nan 'caught']
LR Shukla[nan]

In [8]:
df=pd.DataFrame(columns={"batsman","dismissal"})
for key in run_of_each_player.keys():
    row=len(df.index)
    df.loc[row,"batsman"]=key
    df.loc[row,"dismissal"]=run_of_each_player[key][1][0]
df.to_csv("C:/Users/navya/Desktop/DEproject/questions_csv/question2_dismissal.csv",index=False)

In [10]:
df

            batsman dismissal
0           WP Saha    caught
1       BB McCullum    caught
2        SC Ganguly    bowled
3        RT Ponting       lbw
4         DJ Hussey   not out
5          AS Yadav    caught
6         A Symonds    caught
7         SB Bangar    caught
8        WPUJC Vaas    caught
9          RP Singh   run out
10     AC Gilchrist    caught
11  Y Venugopal Rao    caught
12       VVS Laxman    caught
13        RG Sharma    caught
14        SB Styris    bowled
15  Mohammad Hafeez    caught
16        LR Shukla   not out